*,
img,
div {
  margin: 0;
  padding: 0;
}

:root {
  --blue: #0085cb;
  --white: #fefefe;

  --white-hover: #fefefea1;
  --blue-hover: #0084cb95;
}

.blue {
  color: var(--blue);
}

.white {
  color: var(--white);
}

.bg-white {
  background: var(--white);
}

.bg-blue {
  background: var(--blue);
}

.navbar-brand {
  font-size: 40px;
}

.navbar {
  --bs-navbar-brand-font-size: 3rem;
  --bs-navbar-brand-color: var(--blue);
  --bs-nav-link-font-size: 20px;
  --bs-nav-link-font-weight: 400;
}

.navbar a:hover,
.navbar-brand :hover {
  color: var(--blue-hover);
}
.nav-link {
  margin-left: 3rem;
}

.about {
  overflow: hidden;
}

.about p {
  max-height: 350px;
  font-size: 25px;
}

.mx-75 {
  margin: 75px 0;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.specialties,
.terms,
.documents_clock {
  font-size: 25px;
}

.documents {
  font-size: 30px;
}

.documents li {
  /* list-style: none; */

  padding: 0.5rem 0;
}

ul {
  list-style: none; /* Remove default bullets */
}

.documents ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--blue); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.specialties {
  overflow: hidden;
}

.swiper {
  padding-top: 6rem;
}

/* Пагенация */

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  background: white;

}

.bg-blur {
  background: #fefefe61;
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
}

.bg-blur-nav {
  background: #fefefed9;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

.swiper-slide h2 b {
  color: #16a7f3;

}

/* footer */
.footer a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
}

.footer a:hover {
  color: var(--white-hover);
}

/* btnd */

.btn-blue {
  color: white;
  background: var(--blue);
}

.btn-blue:hover {
  color: white;
  background: var(--blue-hover);
}

/* courses */

.courses img {
  padding-top: 5rem;
}

.courses .img {
  background-image:url("./img/courses1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20rem;
  width: 100%;
}

.courses .position-absolute {
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem 1rem;
}

.courses b {
  color: var(--blue);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    font-size: 0.8rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .reviews img {
    float: left;
  }
}



